body{
	background: #688DF4;
	color: black;
}
body a, ul{
	text-decoration: none;
	list-style-type: none;
	color: black;
	font-weight: bold;
}
.header{
	display: block;
	float: left;
}
.header a:hover{
	color:white;
}
.logout{
	display:block;
	float:right;
}
.logout a:hover{
	color:white;
}
.menu{
	display: block;
	float: left;
}
.menu a:hover{
	color: white;
}
.selected{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #5A7CDA;
}